/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: rgba(0, 84, 255, 0.7);
    text-shadow: none;
    color: #000;
}

::selection {
    background: rgba(0, 84, 255, 0.7);
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


a:hover, a:focus{
    text-decoration: none;
    color: none;
    outline-offset: 0;
}
a{
    color: #ff6c00;
}
.nav > li > a:focus, .nav > li > a:hover{
    background-color: transparent;
}

body{
    background: url(img/fb11.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background: #5A844F;
    background-attachment: fixed;
}

.menu-section, .footer-section{
    background-color: #004703;
}


/*---link-1-area---*/
.link-1-area{
    padding: 30px 0;
}
.link-1::before, .link-1::after, .link-1 a::before, .link-1 a::after {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid currentColor;
}
.link-1::after {
    border-width: 0 2px 0 0;
    -webkit-transform-origin: right top;
    transform-origin: right top;
}
.link-1::before {
    border-width: 0 0 0 2px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
}
.active-link::before, .active-link::after, .link-1:hover::before, .link-1:hover::after, .active-link a::before, .active-link a::after, .link-1:hover a::before, .link-1:hover a::after {
    content: '';
    border-color: #ff6c00;
}
.link-1:not(.active-link):hover::before,
.link-1:not(.active-link):hover::after,
.link-1:not(.active-link):hover a::before,
.link-1:not(.active-link):hover a::after {
    -webkit-animation: horatio-anim .6s ease-in-out;
    animation: horatio-anim .6s ease-in-out;
}

.link-1:not(.active-link):hover::before {
    -webkit-animation-delay: -.45s;
    animation-delay: -.45s;
}

.link-1:not(.active-link):hover a::before {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s;
}

.link-1:not(.active-link):hover::after {
    -webkit-animation-delay: -.15s;
    animation-delay: -.15s;
}

.link-1:not(.active-link):hover a::after {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.link-1 a::before {
    border-width: 2px 0 0;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.link-1 a::after {
    border-width: 0 0 2px;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
}
.link-1 a::before, .link-1 a::after {
    z-index: 2;
}
.ink-1-hr {
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.link-1{
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    padding: 6px 2px;
    display: inline-block;
    margin: 0 10px;
}
.link-1 a{
    position: relative;
    padding: 8px 16px;
    color: #ff6c00;
}
.link-1 a:hover{text-decoration: none;}
@-webkit-keyframes horatio-anim {
    0%, 33% {
        opacity: 0;
        -webkit-transform: rotate(45deg) scale(1.5);
        transform: rotate(45deg) scale(1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes horatio-anim {
    0%, 33% {
        opacity: 0;
        -webkit-transform: rotate(45deg) scale(1.5);
        transform: rotate(45deg) scale(1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
/*---/link-1-area---*/

/*---link-3-area---*/
.link-3-area{
    padding: 50px 0;
    display: inline-block;
}
.link-3-area li{
    display: inline-block;
}
.link-3-area li a{
    font-size: 15px;
    padding: 16px 10px;
    color: #27aa0d;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.link-3-area li a:hover{
    color: #ff6c00;
}
.link-3-area li a::before {
    content: "[";
    opacity: 0;
    margin-right: 10px;
    display: inline-block;
    transform: translateX(20px);
    -o-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
}
.link-3-area li a::after {
    content: ']';
    opacity: 0;
    margin-left: 10px;
    display: inline-block;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transition: transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
}
.link-3-area li a:hover::before, .link-3-area li a:focus::before, .link-3-area li a:hover::after, .link-3-area li a:focus::after {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
.link-3-area li a::before {
    content: "[";
    opacity: 0;
    margin-right: 10px;
    display: inline-block;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.link-3-area li a::after {
    content: ']';
    opacity: 0;
    margin-left: 10px;
    display: inline-block;
    transform: translateX(-20px);
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

/*---/link-3-area---*/

/*--
    .welcome-message h1 {
    font: 800 2em/1 Oswald,sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
    background-size: 50px 50px;
    background-color: #b2213e;
    /* background-image: -webkit-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent); */
    /* background-image: -moz-linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent); */
    background-image: linear-gradient(135deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 10s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
--*/

.submenu-section{
    margin-bottom: 20px;
}
/*---btn-17---*/

.btn-17{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color:rgba(255, 0, 155, 0.0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-left: 1px solid #027D0C;
    border-right: 1px solid #043F00;}
.btn-17:last-child{border-right: 0px solid}
.btn-17:first-child{border-left: 0px solid}
.btn-17::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #006608;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -ms-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn-17:hover{
    background: rgba(255, 0, 155, 0.0);
}
.btn-17:hover::before{
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}

.submenu-section .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-17 a{
    color: #fff;
}


    .active::before {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}


/*---/btn-17---*/

/*--welcome animation--*/

.welcome-message {
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  /* Clip Background Image */
  background: url(../img/animated_text_fill11.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 13s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  background-size: 2000px 14px;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.welcome-message h1{
    font-weight: 900;
    font-size: 40px;
}


/*---Content-5---*/
.content-5{
    top: 25px;
    position: relative;
}
.content-5 li{
    float: left;
    padding: 10px 7px;
    list-style: none;
}
.social-nav a {
    display: inline-block;
    float: none;
    width: 35px;
    height: 35px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.model-3d-0 a {
    background: #FFF;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.model-3d-0 .front, .model-3d-0 .back {
    width: 35px;
    height: 35px;
    background: #27aa0d;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(23px);
    -moz-transform: translateZ(23px);
    -ms-transform: translateZ(23px);
    -o-transform: translateZ(23px);
    transform: translateZ(23px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
.twitter .back, .facebook .back, .instagram .back, .pinterest .back {
    background: #ff6c00;
}
.model-3d-0 .back {
    font-size: 32px;
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front i {
    font-size: 25px;
    color: #fff;
    margin-top: 8px;
}
.back i {
    font-size: 25px;
    color: #fff;
    position: absolute;
    margin-top: 8px;
    margin-left: -10px;
}
.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}

/*
.content-5-area {
    display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    line-height: 4.5em;
    font-size: 1em;
}
.content-5-area::after {
    top: 1px;
    left: 12px;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(203, 178, 92, 0.81);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.content-5-area:hover {
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #ecb731;
    text-decoration: none;
}
*/

/*---/Content-5---*/




/*---btn-14---*/
.btn-14 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    background: green;
    display: inline-block;
    width: 300px;
    color: #fff;
    font-size: 1em;
    border-radius: 0px;
    font-weight: normal;
    padding: 20px 60px;
}
.btn-14::before, .btn-14::after {
    content: '';
    position: absolute;
    top: 60px;
    left:  -17px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 190px solid rgba(255,255,255,0.25);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn-14:hover::before {
    opacity: 1;
    -webkit-transform: translate(0px,-190px);
    -moz-transform: translate(0px,-190px);
    -o-transform: translate(0px,-190px);
    -ms-transform: translate(0px,-190px);
    transform: translate(0px,-190px);
}
.btn-14:hover::after {
    opacity: 1;
    -webkit-transform: translate(0px,-150px);
    -moz-transform: translate(0px,-150px);
    -o-transform: translate(0px,-150px);
    -ms-transform: translate(0px,-150px);
    transform: translate(0px,-150px);
}
.btn-14::after {
    transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
}
.btn-14:hover{
    background: green;
}

/*---/btn-14---*/









.body-section{
    color: #fff;
}

.bh3{
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.warping-text h3{
    color: #fff;
     background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}




.footertop-section{
    background: #012A00;
}
.footer-section{
    color: #fff;
    padding: 10px 0;
}
.footer-tex h4{
    font-size: 16px;
}
.footer-tex a{
    color: #ff6c00;
}
















/*---Responsive---*/

/*My Modified*/
@media(max-width:1080px) {

}
@media(max-width:1050px){

}
@media(max-width:1024px){

}
@media (max-width:991px){
.content-5 {
    top: -10px;
    margin: 0 auto;
}
}
@media (max-width: 900px){

}
@media (max-width: 800px){

}
@media (max-width:768px){

}
@media (max-width:736px){

}
@media (max-width:667px){

}
@media (max-width: 640px){

}
@media (max-width: 600px){

}
@media (max-width: 568px){

}
@media (max-width: 480px){

}
@media (max-width: 414px){

}
@media (max-width: 384px){

}
@media (max-width: 375px){

}
@media (max-width: 320px){

}
