html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


body{
	background-image: url(../img/green.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover{
color: #c8ffb3;
background: transparent;
font-weight: 900;
transition: 0.5s;
}

.portfolio-area{
	background-image: url(../img/green.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.portfolio-area figure{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

.portfolio-area figure img{
	position: relative;
	transition: transform 0.6s;
	z-index: 999;
	width: 100%;
}

.portfolio-area figure:hover img{
	transform: scale(0.6);
}

.portfolio-area figure figcaption{
	opacity: .5;
	backface-visibility: hidden;
	position: absolute;
	background-color: rgba(42, 119, 40, 0.35);
	transform: scale(0.6);
	transition: transform 0.4s, opacity 0.4s;
	width: 100%;
	height: 100%;
	top: 0;
}

.portfolio-area figure:hover figcaption{
	opacity: 1;
	transform: scale(1);
}

figure figcaption h3{
	color: #b9bfb6;	
    position: relative;
}
figure figcaption h4{
	color: #fff;
	position: relative;
	bottom: -66%;
}
figure figcaption small{
	color: #fff;
}

.portfolio-area figure figcaption a{
	position: absolute;
bottom: 4%;
right: 33%;
color: #fff;
background: rgba(0, 128, 0, 0.36);
padding: 5px;
text-decoration: none;
border: 0px solid;
border-radius: 0;
}
.portfolio-area{}

.portfolio-col{
	padding: 0;
}

.footer p{
    padding: 30px 0;
}


figure figcaption h5{
	top: 62%;
	position: relative;}
@media(min-width:768px) {
figure figcaption h{top: 70%;}
}
@media(max-width:768px) {
figure figcaption h{top: 70%;}
}

@media (max-width:667px){
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #b6acac;
    background: transparent;}
    .navbar-default .navbar-toggle {
    border-color: #a4a4a4;
    color: white;}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(201, 114, 114, 0.56);
    color: #fff;}
}

/*Responsive*/

@media(max-width:1200px) {
figure figcaption h4{bottom: -59%;}
}
@media(max-width:1080px) {
figure figcaption h4{bottom: -59%;}
}
@media(max-width:1050px){
figure figcaption h4{}
}
@media(max-width:1024px){
figure figcaption h4{}
}
@media (max-width:991px){
figure figcaption h4{bottom: -71%;}
}
@media (max-width: 900px){
figure figcaption h4{}
}
@media (max-width: 800px){
figure figcaption h4{}
}
@media (max-width:768px){
figure figcaption h4{bottom: -80%;}
}
@media (max-width:736px){
figure figcaption h4{}
}
@media (max-width:667px){
figure figcaption h4{bottom: -78%;}
}
@media (max-width: 640px){
figure figcaption h4{}
}
@media (max-width: 600px){
figure figcaption h4{}
}
@media (max-width: 568px){
figure figcaption h4{bottom: -75%;}
}
@media (max-width: 480px){
figure figcaption h4{}
}
@media (max-width: 414px){
figure figcaption h4{bottom: -70%;}
}
@media (max-width: 384px){
figure figcaption h4{}
}
@media (max-width: 375px){
figure figcaption h4{bottom: -63%;}
}
@media (max-width: 320px){
figure figcaption h4{bottom: -61%;}
}
@media (max-width: 250px){
figure figcaption h4{bottom: -61%;font-size: 13px;}
figure figcaption h3{font-size: 16px;top: -3px;}
}
@media (max-width: 180px){
figure figcaption h4{bottom: -21%;}
}
@media (max-width: 150px){
figure figcaption h4{bottom: -10%;}
figure figcaption h3{margin-top: 0}
}






@media (max-width: 200px){
figure figcaption h4{bottom: -50%;font-size: 12px;}
figure figcaption h3{top: -5%;font-size: 16px;}
}




































































